body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fdf7ec; /* cremita */
  margin: 0;
  padding: 0;
}

#root {
  padding: 2rem;
}

h1 {
  color: #333;
}

input {
  font-size: 1rem;
}

span {
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: justify;
}

button {
  font-size: 1rem;
}
.container {
  max-width: 700px;
  margin: auto;
  text-align: center;
}

.texto {
  text-align: justify;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.palabra {
  display: inline-block;
  padding: 2px 4px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dudosa {
  background-color: #fef08a; /* amarillo claro */
}

.segura {
  background-color: #86efac; /* verde claro */
}
